/*grind de imagenes de prendas*/
section {
    .grind-container {                               
        display: grid;
        grid-template-columns: repeat(4, minmax(280px, 1fr));
        margin: 10px 100px;
        border: 1px solid #fff;
        img {
            width: 95%;
            height: 80%;
        }
    }
    
}
