@media (width: 1366px ) {
    header {
        .navbar {
            display: flex;
            justify-content: space-evenly;
        }
    }
    section .grind-container {                               
        display: grid;
        grid-template-columns: repeat(4, 320px);
        margin: 10px 50px;
        gap: 55px 5px;
        font-size: 12px;
        .AGREGAR {
            display: flex;
            justify-content: center;
            width: 300px;
        }
    }
    section .tipo-prenda {
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        margin: 1px 310px;
    }
    section .videoclip {
        width: 1310px;
        margin: 40px 25px;
    }
    section .formulario {
        margin: 50px;
    }
}