/*video*/
section {    
    .videoclip{                           
        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 95%;
        margin: 10px 50px;
    }

} 


