 //botones enlaces*/
.tipo-prenda {
    display: flex;
    width: 100%;
    ul {
        list-style-type: none;
        display: flex;
        margin: 10px;
        padding: 20px 82px;
        gap: 5px;
        li {
            margin: 1px 10px;
            a {
                color: #00FFB2;
                text-decoration: none;
                margin-left: 5px;
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                transition: 0.5s;
                margin: 2px 10px;
            }
        }
    }
}
.tipo-prenda a:hover {
    background-color: #fff;
    border-style:none;
    color: #FF0000;
    padding: 5px;
    border-radius: 10%;
}   

