 //botones enlaces*/
.tipo-prenda {
    display: flex;
    justify-content: flex-start start;
    align-items: flex-end;
    ul {
        list-style-type: none;
        display: flex;
        margin-left: 60px;
        margin-top: 50px;
        gap: 50px;
        li {
            margin-left: 20px;
            a {
                color: #00FFB2;
                text-decoration: none;
                display: flex;
                align-items: center;
                margin-left: 5px;
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                transition: 0.5s;
                margin: 2px;
            }
        }
    }
}
.tipo-prenda a:hover {
    background-color: #fff;
    border-style:none;
    color: #FF0000;
    padding: 5px;
    border-radius: 10%;
}   

