//items de grid//
section {
    .grind-container h3 {
        color: #787f86;
        font-family: "Roboto", sans-serif;
        font-size: 130%;
        font-weight: 700;
        margin: 2px;
    }
    .grind-container p {
        color: #000;
        font-family: "Roboto", sans-serif;
        font-size: 110%;
        font-weight: 500;
    }
}
//items de grid otras paginas //
section {
    .grind-contenedor h3 {
        color: #787f86;
        font-family: "Roboto", sans-serif;
        font-size: 130%;
        font-weight: 700;
        margin: 2px;
    }
    .grind-contenedor p {
        color: #000;
        font-family: "Roboto", sans-serif;
        font-size: 110%;
        font-weight: 700;
    }
}