//titulos principales/
section {
    h1 {
        width: 100%;                                     
        text-align: center;
        font-size: 25px;
        font-family:  "Roboto", sans-serif;
        font-style: italic;
        font-weight: bold;
        margin: 0;
        color: #ffff;
        background-image: linear-gradient(to top, #2D65FF ,#A132FF,#C623FF);
        padding: 15px;
        span {
            color: #F6D804;
        }
    }
    .Titulos h2 {
        font-family:  "Roboto", sans-serif;
        font-size: 250%;
        font-weight: bold;
        text-align: center;
        margin: 20px;
    }
    .tallaropa {
        font-family:  "Roboto", sans-serif;
        font-size: 100% ;
        font-weight: bold;
        text-align: center;
    } 
    .Titulos1 {
        font-family:  "Roboto", sans-serif;
        font-size: 250%;
        font-weight: bold;
        text-align: center;
        margin: 20px;
    }
}